<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container main">
    <h1>add new blog</h1>
    <%- include('partials/form') %>
</div>
<%- include('../partials/footer') %>