<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="icon code"></i>Blog Site</div>
    </div>
    <a class="item" href="/">home</a>
    <a class="item" href="/blogs">blog list</a>
    <a class="item" href="/blogs/new">add a blog</a>
</div>class="item"