.header:hover i.code {
    transform: scale(1.5);
    transition: transform 0.7s;
}

.container.main {
    margin-top: 50px;
}

.ui.form {
    max-width: 600px;
    margin: auto;
}

.main form {
    display: inline;
}

img {
    margin-bottom: 10px;
}

.listing-blog-text {
    text-align: left;
}