<form action="/blog" method="post">
    <input type="text" name="title" id="title" placeholder="Title">
    <input type="text" name="pictureURL" id="pictureURL" placeholder="Picture URL">
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <input type="submit" value="submit">
</form>